.card+.card {
    margin-top: 1em
}

.card1:hover,
.card2:hover {
    z-index: 7;
    transform: scale(1.05);
    box-shadow: 0 4px 25px rgba(0, 0, 0, .4)
}

.cardHeader {
    display: flex;
    grid-template-columns: 36px auto 100px;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between
}

.cardHeader .cardHeader_account {
    color: #c6e1ed;
    font-size: .85em;
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center
}

.cardHeader_account img {
    margin-right: 1vh
}

.cardHeader .cardHeader_date {
    margin: 10px;
    color: #c6e1ed;
    font-size: .85em;
    font-weight: 600;
    text-align: right
}

.cardBody {
    display: flex;
    margin: 0 10px 10px;
    justify-content: space-between;
    flex-direction: column
}

.cardBody .cardText {
    margin: 0 10px 0 0;
    white-space: pre-line;
    color: #c0c3d7;
    font-weight: 400;
    line-height: 1.5
}

.cardBody {
    display: flex;
    justify-content: center;
    font-weight: 500
}

.cardTitle {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--text-color-light);
    margin-bottom: 2vh
}

.cardDelete{
    justify-content: center;
    display: block;
    font-size: 0.7rem;
    color: #ff6f6f;
    cursor: pointer;
}

.cardUpdate{
    justify-content: center;
    display: none;
    font-size: 0.7rem;
    color: #ff6f6f;
    cursor: pointer;
}

.cardRatingGood {
    margin: 0 10px 0 0;
    white-space: pre-line;
    color: #5dca00;
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.5rem
}

.cardRatingBad {
    margin: 0 10px 0 0;
    white-space: pre-line;
    color: #ca0000;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.5rem
}

div.card2 {
    margin-left: 5em;
    margin-right: -5em;
    margin-top: -6em;
    background-color: var(--secondary-color);
    transition: .2s ease-in-out;
    padding: 1em;
    z-index: 5;
    border-radius: 2px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .3);
    transition: .2s ease-in-out;
    position: relative
}

div.card1 {
    position: relative;
    background-color: #1f1f1f;
    padding: 1em;
    margin-top: -6em;
    z-index: 5;
    border-radius: 2px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .3);
    transition: .2s ease-in-out
}

.mat-icon {
    width: 32px!important;
    font-size: 30px!important
}

.goodBadPoint {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: -1rem;
    width: 100%;
    color: var(--text-color-light);
}

.goodPoint {
    width: 50%;
    text-align: center
}

.badPoint {
    width: 50%;
    text-align: center;
    color: var(--text-color-light);
}

.mat-icon {
    color: var(--text-color-light);
}

.cardBody hr {
    width: 74%;
    margin-top: 2rem;
    margin-left: 15vh
}