<h1 mat-dialog-title>Ajouter un avis</h1>
<div mat-dialog-content class="container" *ngIf="!post; else forminfo" novalidate>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

        <div class="ratingStars">
            <button type="button" mat-icon-button color="accent" *ngFor="let ratingId of ratingArray; index as i" [id]="'star_'+i" (click)="onRatingChanged(i+1)">
        <mat-icon class="stars">
            {{ iconStatus(i) }}
        </mat-icon>
       </button>
            <p>
                <span>{{ rating }}</span>/<span>{{ totalStar }}</span>
            </p>
        </div>

        <mat-form-field class="form-element">
            <input matInput placeholder="Titre" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="title">
            <mat-error *ngIf="!formGroup.controls['title'].valid && formGroup.controls['title'].touched">
                10 caractères min / 75 caractères max
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" rows="3" formControlName="description"></textarea>
            <mat-error *ngIf="!formGroup.controls['description'].valid && formGroup.controls['description'].touched">
                10 caractère min / 400 caractère max
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <textarea matInput placeholder="Point positif" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="goodPoint"></textarea>
            <mat-error *ngIf="!formGroup.controls['goodPoint'].valid && formGroup.controls['goodPoint'].touched">
                10 caractère min / 100 caractère max
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <textarea matInput placeholder="Point negatif" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="badPoint"></textarea>
            <mat-error *ngIf="!formGroup.controls['badPoint'].valid && formGroup.controls['badPoint'].touched">
                10 caractère min / 100 caractère max
            </mat-error>
        </mat-form-field>



        <div class="form-element">
            <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Envoyez l'avis</button>
        </div>


    </form>
</div>

<ng-template #forminfo>
    <div class="container">
        {{ post | json }}
    </div>
</ng-template>